<mat-sidenav-container style="height: 100vh">
    <mat-sidenav autoFocus="false" [(opened)]="navOpened">
        <app-sidenav
            [(selectedScreen)]="category"
            (change)="screenChange()"
        ></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="pageBox">
            <div class="screenHeader">
                <div class="pageTitle">
                    <h3 class="catTitle">{{ getScreenName(category) }}</h3>
                    <div class="titleSpacer"></div>
                    <h2 class="screenTitle">{{ name }}</h2>
                </div>
                <div class="pageActions">
                    <button
                        class="pageAction"
                        mat-mini-fab
                        matTooltip="Create custom article from this page"
                        matTooltipPosition="left"
                        (click)="createCustom()"
                    >
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button
                        class="pageAction"
                        mat-mini-fab
                        (click)="toggleSidenav()"
                    >
                        <mat-icon>menu</mat-icon>
                    </button>
                </div>
            </div>
            <div
                id="searchPage"
                [style]="isSearchPage() ? 'flex-grow: 1;' : 'display: none;'"
            >
                <app-search-page
                    class="searchPageContent"
                    (search)="goToPage($event)"
                ></app-search-page>
            </div>
            <div
                id="articlePage"
                [style]="isSearchPage() ? 'display: none;' : 'flex-grow: 1;'"
            >
                <ng-container *ngIf="!isEmptyPage() && !loadingPage">
                    <div class="articleContent">
                        <div class="articleOverview">
                            <p
                                class="articleDescription"
                                *ngIf="articleHasDesc()"
                            >
                                {{ getDescription() }}
                            </p>
                            <img
                                class="articleImg"
                                *ngIf="articleHasImg()"
                                [src]="
                                    'https://wiki.cavesofqud.com/' + getImgSrc()
                                "
                            />
                        </div>
                        <mat-expansion-panel class="statblockDropdown">
                            <mat-expansion-panel-header>
                                <mat-panel-title> Statblock </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="statblockContainer"></div>
                        </mat-expansion-panel>
                        <mat-expansion-panel class="referencePageDropdown">
                            <mat-expansion-panel-header>
                                <mat-panel-title> Wiki Page </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="referencePageContainer">
                                <iframe
                                    class="referencePage"
                                    [src]="getIframeUrl()"
                                ></iframe>
                            </div>
                        </mat-expansion-panel>
                    </div>
                </ng-container>
                <div class="articleSpinner" *ngIf="loadingPage">
                    <mat-spinner></mat-spinner>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
