h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: start;
}

:root {
    --accent-color: rgb(40, 60, 80);
    --accent-active: rgb(30, 50, 70);
    --accent-hover: rgb(50, 70, 90);
    --background-primary: rgb(10, 20, 30);
}

.loadingIndicator {
    background-color: var(--background-primary);
    min-height: 100vh;
    height: 100%;
    width: 100%;
    z-index: 100;
    position: relative;
    display: none;
}

.searchField {
    display: flex;
    flex-direction: row;
}

.searchLink {
    color: rgb(100, 180, 140);
    cursor: pointer;
    user-select: none;
}

.searchResult {
    color: rgb(90, 110, 130);
}

.entryTitle {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.searchResult > .searchmatch {
    color: rgb(160, 170, 215);
}

.searchLink:hover {
    color: rgb(115, 195, 155);
}
.wikiDropdown {
    background-color: var(--accent-color);
    color: white;
    border-style: none;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.wikiDropdown:hover {
    background-color: var(--accent-hover);
}

.wikiDropdown:active {
    background-color: var(--accent-active);
}

.wikiDropdown.wikiActive {
    background-color: rgb(80, 100, 120);
}

.wikiDropdown.wikiActive {
    background-color: rgb(80, 100, 120);
}

.wikiDropdown.wikiActive:hover {
    background-color: rgb(90, 110, 130);
}

.wikiDropdown.wikiActive:active {
    background-color: rgb(60, 80, 100);
}

.entryCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.entryOverview {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.entryDesc {
    padding: 20px;
    border-color: var(--accent-color);
    border-width: 5px;
    background-color: var(--background-primary);
    border-style: solid;
    border-radius: 0;
    margin: 10px;
    color: rgb(200, 255, 230);
    font-style: italic;
    text-align: center;
}

.entryImg {
    padding: 5px;
    border-color: var(--accent-color);
    border-width: 5px;
    background-color: var(--background-primary);
    border-style: solid;
    border-radius: 0;
    margin: 10px;
    min-height: 240px;
    max-height: 240px;
    min-width: 160px;
}

.entryContent {
    display: flex;
    flex-direction: column;
}

.wikiDropdownLabel {
    margin-bottom: 20px;
}

.searchLink:active {
    color: rgb(60, 140, 100);
}

.searchResult {
    text-align: start;
}

.searchResults {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
}

#searchStatus {
    margin: 0px;
    margin-left: 10px;
}

.content {
    min-height: 98.3vh;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.screen {
    padding: 20px;
    width: 100%;
    display: none;
    min-width: 500px;
}

.navbar {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: auto;
    width: 10%;
    min-width: 100px;
    min-height: 98.3vh;
    background-color: var(--background-primary);
}

.navelement {
    padding: 5px;
    border-radius: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: var(--accent-color);
    color: white;
    font-weight: 600;
    border-style: none;
    cursor: pointer;
}

.navelement:hover {
    background-color: rgb(50, 70, 90);
}

.navelement:active {
    background-color: rgb(20, 40, 60);
}

.navelement.navactive {
    background-color: rgb(80, 100, 120);
}

.navelement.navactive:hover {
    background-color: rgb(90, 110, 130);
}

.navelement.navactive:active {
    background-color: rgb(60, 80, 100);
}

footer {
    background-color: var(--background-primary);
    padding: 20px;
    width: 100%;
    margin-left: -20px;
    margin-bottom: -20px;
    height: -webkit-fill-available;
}

.wikiFrame {
    align-self: center;
    border-style: solid;
    margin-left: -4px;
    border-width: 4px;
    border-color: var(--background-primary);
    background-color: var(--background-primary);
    background-image: url(https://wiki.cavesofqud.com/resources/assets/cavebg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.entryStatblockDropdown {
    background-color: var(--accent-color);
    border: none;
    border-radius: 5px;
    color: white;
    margin-bottom: 20px;
}

.entryStatblockDropdown:hover {
    background-color: var(--accent-hover);
}

.entryStatblockDropdown:active {
    background-color: var(--accent-active);
}

.statblockContent {
    padding: 10px;
}

.statblockACImg {
    -webkit-mask-box-image: url(assets/images/ac.png);
    background-color: var(--background-primary);
    width: 70px;
    height: 80px;
}

.statblockAC {
    display: flex;
    position: relative;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-content: center;
    line-height: 75px;
    font-size: 18px;
    margin: 0;
}
.statblockACText {
    color: white;
    position: absolute;
    width: 80px;
    height: 20px;
    vertical-align: middle;
    margin: 0;
}
