#screenTitle {
    text-align: start;
}

:root {
    --accent-color: rgb(40, 60, 80);
    --background-primary: rgb(10, 20, 30);
}

.searchField {
    display: flex;
    flex-direction: row;
}

#searchStatus {
    margin: 0px;
    margin-left: 10px;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.screen {
    padding: 20px;
    width: 100%;
}

.navbar {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100%;
    width: 10%;
    background-color: var(--background-primary);
}

.navelement {
    padding: 5px;
    border-radius: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: var(--accent-color);
    color: white;
    font-weight: 600;
    border-style: none;
}

.navelement:hover {
    background-color: rgb(50, 70, 90);
}

.navelement:active {
    background-color: rgb(20, 40, 60);
}
