<link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
/>
<mat-form-field>
    <mat-label>Search the wiki</mat-label>
    <input
        #input
        matInput
        type="search"
        [(ngModel)]="searchText"
        (keydown.enter)="submit()"
        [matAutocomplete]="auto"
        (keydown)="fuzzySearch()"
    />
    <mat-autocomplete (optionSelected)="changeToPage($event.option.value); input.value = ''" #auto="matAutocomplete">
        <mat-option *ngFor="let result of typeahead" [value]="result.pageid">{{result.title}}</mat-option>
    </mat-autocomplete>
    <button (click)="submit()" matSuffix mat-icon-button aria-label="Search">
        <mat-icon>search</mat-icon>
    </button>
</mat-form-field>
<div class="searchResults" *ngIf="!searching">
    <p class="noResults" *ngIf="noResults">No results.</p>
    <div class="searchResult" *ngFor="let result of results">
        <h3 (click)="changeToPage(result.id)" class="searchLink">
            {{ result.title }}
        </h3>
        <div [innerHTML]="result.excerpt"></div>
    </div>
</div>
<div class="searchIndicator" *ngIf="searching">
    <mat-spinner></mat-spinner>
</div>
